# Ignore node_modules directory
node_modules/

# Ignore log files and npm debug logs
*.log
npm-debug.log

# Ignore environment-specific .env files
.env

# Ignore user-specific files
.DS_Store
.vscode/
.vercel
